<!-- Base CSS Begin-->
<link href="/static/common/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/common/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
<link href="/static/common/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/common/css/style-metro.css" rel="stylesheet" type="text/css" />
<link href="/static/common/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/common/css/style-responsive.css" rel="stylesheet" type="text/css" />
<link href="/static/common/css/default.css" rel="stylesheet" type="text/css" id="style_color" />
<link href="/static/common/css/uniform.default.css" rel="stylesheet" type="text/css" />
<!-- Base CSS End -->




<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="/static/common/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="/static/common/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="/static/common/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>

	<script src="/static/common/js/bootstrap.min.js" type="text/javascript"></script>

	<!--[if lt IE 9]>

	<script src="/static/common/js/excanvas.min.js"></script>

	<script src="/static/common/js/respond.min.js"></script>  

	<![endif]-->

	<script src="/static/common/js/jquery.slimscroll.min.js" type="text/javascript"></script>

	<script src="/static/common/js/jquery.blockui.min.js" type="text/javascript"></script>

	<script src="/static/common/js/jquery.cookie.min.js" type="text/javascript"></script>

	<script src="/static/common/js/jquery.uniform.min.js" type="text/javascript"></script>

	<!-- END CORE PLUGINS -->

	