<html>
<head>
<script src="/static/common/js/jquery-1.10.2.js"></script>
<script src="/static/common/js/bootstrap.min.js"></script>
<link href="/static/common/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/common/css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<!-- Static navbar -->
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">首页</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">客运服务</a></li>
						<li><a href="#">货运服务</a></li>
						<li><a href="#">行包服务</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">车站引导 <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="#">北京</a></li>
								<li><a href="#">天津</a></li>
								<li><a href="#">河北</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">上海</li>
								<li><a href="#">广东</a></li>
								<li><a href="#">武汉</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<!--  <li class="active"><a href="./">欢迎</a></li>
						<li><a href="../navbar-static-top/">Static top</a></li> --> 
						<li><a href="../navbar-fixed-top/">欢迎&lt;{{ user.username }}&gt;登录</a></li>
					</ul>
				</div>
				<!--/.nav-collapse -->
			</div>
			<!--/.container-fluid -->
		</nav>

		<div class="jumbotron">
			<h1>最新动态</h1>
			<p>根据广大旅客需求，2015年1月1日至2月10日开行的高铁动卧列车均执行已公布的平日第一档票价，即： 
			   <br/>上海虹桥——深圳北，上铺700元、下铺780元； 
               <br/>上海虹桥——广州南，上铺800元、下铺900元； 
　　                             <br/>北京西——广州南，上铺990元、下铺1120元； 
               <br/>北京西——深圳北，上铺999元、下铺1190元。 </p>
			<!--<p>
				<a class="btn btn-lg btn-primary" href="../../components/#navbar"
					role="button">View navbar docs &raquo;</a>
			</p> -->
		</div>

	</div>
	<!-- /container -->
</body>
</html>